{% extends "layout.html" %}
{% block content%}

<div class="row" style = "height: 20px;">

</div>

<div class = "row">
  <div class = "col-lg-7">
    <h1>
      A Brief Introduction
    </h1>
    <p class = "lead">
      In 1997, a student from Raleigh came to UNC-Chapel Hill with the dream
      of starting a dance marathon.
    </p>
    <p>
      Having witnessed the powerful impact of
      Pennsylvania State University’s 46-hour dance marathon on the dancers,
      spectators, patients and families involved with it, Michael Bucy was
      inspired to fill UNC-CH’s void for a large student-run fundraiser.
    </p>
    <p>
      The first dance marathon at UNC-CH took place in February 1999, with
      about 75 dancers raising <strong>$40,000 for N.C. Children’s Hospital.
      </strong> It was a small start, but Bucy had a huge vision for the future.
    </p>
    <p>
      Twenty years later, Bucy’s dream has grown into UNC Dance Marathon,
      which through the years has raised more than $5.1 million for N.C.
      Children’s Hospital and now involves about 2,000 students each year
      and dozens of community businesses.
    </p>
  </div>
  <div class = "col-lg-5">
    <img class="img-fluid w-100" src="../static/imgs/20_years.jpg" alt="">
  </div>
</div>
<div class = "row">
  <div class = "col-lg-8">
    <p>
      With a mission “to unite the University, community and state in fostering
      emotional and financial support that improves the quality of life for
      the patients and families of N.C. Children’s Hospital,” UNC-DM has
      stayed true to Bucy’s original vision, even through enormous growth.
    </p>
    <p>
      “If your child gets ill, the last thing you should have to worry about
      is the overwhelming financial burden,” Bucy said. “You should be able
      to focus your time and attention on caring for your child.”
    </p>
  </div>
</div>

{% endblock %}
