{% extends "layout.html" %}
{% block content %}

<div class="container" style="height: 20px;">

</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/imgs/dancing.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/imgs/lights.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/imgs/beat_duke.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- <header id = "first_header" class="py-5 bg-image-full" style="background-image: url('../static/imgs/fundraising.jpg');">
</header> -->

<!-- Content section -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1>From the Executive Director</h1>
        <p class="lead">
          Hello!
        </p>
        <p>
          I am very excited for the 2018-2019 year for the Carolina For The Kids
          Foundation. Last year we celebrated our 20th year and it was a great one,
          but now with that milestone behind us, we move forward to do more great
          things For The Kids. Carolina For The Kids has and always will continue
          to connect the student at UNC, the community around us, and UNC Children’s
          together. We help the patients and families of UNC Children’s in any way
          possible and the unceasing attitude is what will carry us through the
          next two decades and beyond.
        </p>
        <p>
          In 2018, we all worked hard For The Kids. Through all our recruitment,
          the 5K, the Benefit Reception, and the Dance Marathon, you worked to help
           us achieve greatness. So I want to say thank you to all our dancers,
           donors, runners, volunteers, and committee members. We hope you all
           will continue to support us in whatever capacity you can to continue
           achieving greatness. We are an organization open to change if it will
           bring growth and I love that. As we go into this next year, we will
           welcome change necessary for us to reach more students, a larger
           community, and most importantly more patients and their families.
           We will continue the For The Kids’ Fund and Parent’s Night Out along
           with the Carolina For The Kids grant, the Carolina For The Kids research
           grant, and funding for the Children’s Play Atrium in the hospital. We will
           also continue to strive to find new areas that could use our assistance
           at UNC Children’s.
        </p>
      </div>
      <div class="col-lg-5">
        <img class = "img-fluid w-100" src="../static/imgs/bryant_1.jpg" alt="">
      </div>
      <p>
        As we enter our 21st year, we will be persistent in keeping our mission
         at the forefront of all we do. This new decade will bring different
         challenges, new students, more patients, additional milestones, and
         so much more and we are ready for it all! I firmly believe we can reach
         new levels in this coming year, but it will require your help. I could
         not be more grateful to be in a position to lead this organization that
         has grown so important to me and I am excited for the new things we will
         all do together. Do not hesitate to reach out to myself or anyone else
         that is a part of our organization if you desire to get involved.
         Everyone should be able to help the patients and families at UNC
         Children’s and we would love to help you do so.
      </p>
      <p>
        <strong>Forever For The Kids, </strong><br>
        Bryant Gilchrist <br>
        2019 Executive Director
      </p>
    </div>
  </div>
</section>

<!--
<section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
  <div style="height: 200px;"></div>
</section>

<section class="py-5">
<div class="container">
  <h1>Section Heading</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit,
    rerum quos facilis repellat architecto commodi officia atque nemo facere eum
    non illo voluptatem quae delectus odit vel itaque amet.</p>
</div>
</section> -->

{% endblock %}
