{% extends "layout.html" %}
{% block content %}

<div class="container" style="height:20px;">

</div>

<div class="row">
  <div class="col-lg-2">
    <nav class="nav flex-column">
      <a class="nav-link" href="#">Committees</a>
      <a class="nav-link" href="#">Marathon Involvement</a>
      <!-- <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Disabled</a> -->
    </nav>
  </div>
  <div class="col-lg-10">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Students</h1>
        <p class="lead">There are numerous ways that students can get involved
          with CFTK. There are numerous committees listed below that might be of
          interest to you. There are also opportunities to participate in our
          famous dance marathon!
        </p>
      </div>
    </div>
  </div>
</div>


{% endblock %}
